
<!DOCTYPE html>
<html>
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.17.2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
    <title>HTML Tutorial</title>
</header>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <div id="qunit-info">
        <form>
            <label for="Xman">X játékos:</label>
            <input type="text" id="Xman" value="Xman">
            <label for="Oman">O játékos:</label>
            <input type="text" id="Oman" value="Oman">
        </form>
        <p class="kovetkezoJatekos"></p>
        <p class="jatekvege"></p>
    </div>

    <script src="https://code.jquery.com/qunit/qunit-2.17.2.js"></script>
    <script src="../controller/tictactoeController.js"></script>
    <script src="../model/tictactoeModel.js"></script>
    <script src="tictactoeView.js"></script>
    <script src="viewTesz.js"></script>
    

</body>
</html>